# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
build/
docs/api/
docs/_build/
docs/generated/
data/samples
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit tests / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*
/*.ipynb

# Data files
/*.csv

# MacOS caching
.DS_Store
*/.DS_Store

# PyCharm etc
.idea/

# Sphinx documentation
docs.bk/_build

# Distribution/package/temporary files
data/
tiling/
figures/
*.h5ad
