*.pyc
.ipynb_checkpoints
*/.ipynb_checkpoints/*
build/
dist/
*.egg-info
/*.ipynb
/*.csv
output/
.DS_Store
*/.DS_Store
.idea/
docs/_build
data/
tiling/
.pytest_cache
figures/
*.h5ad
inferCNV/
stlearn/tools/microenv/cci/junk_code.py
stlearn/tools/microenv/cci/.Rhistory
