include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
recursive-include stlearn/app *.txt
recursive-include stlearn/app/templates *
recursive-include stlearn/app/static *
recursive-include stlearn/tools/microenv/cci/databases *.txt
