absl-py==0.9.0
anndata==0.7.1
appdirs==1.4.3
astunparse==1.6.3
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.2
bioservices==1.7.4
bleach==3.1.4
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
colorlog==4.1.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
easydev==0.9.38
entrypoints==0.3
fa2==0.3.5
gast==0.3.3
get-version==2.1
gevent==1.4.0
google-auth==1.11.3
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
greenlet==0.4.15
grequests==0.4.0
grpcio==1.27.2
gseapy==0.9.17
h5py==2.10.0
html5lib==1.0.1
idna==2.9
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.16.0
Jinja2==2.11.1
joblib==0.14.1
json5==0.9.0
jsonschema==3.2.0
jupyter-client==6.1.0
jupyter-core==4.6.3
jupyterlab==2.0.1
jupyterlab-server==1.0.7
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
legacy-api-wrap==1.2
llvmlite==0.31.0
louvain==0.6.1
lxml==4.5.0
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
NaiveDE==1.2.0
natsort==7.0.1
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.4
notebook==6.0.3
numba==0.48.0
numexpr==2.7.1
numpy==1.18.2
oauthlib==3.1.0
opt-einsum==3.2.0
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
parso==0.6.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
prometheus-client==0.7.1
prompt-toolkit==3.0.4
protobuf==3.11.3
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.19.1
Pygments==2.6.1
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.8.1
python-igraph==0.8.0
pytz==2019.3
pyzmq==19.0.0
requests==2.23.0
requests-cache==0.5.2
requests-oauthlib==1.3.0
rsa==4.0
scanpy==1.5.1
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.0
Send2Trash==1.5.0
six==1.14.0
sklearn==0.0
soupsieve==2.0
statsmodels==0.11.1
suds-jurko==0.6
tables==3.6.1
tensorboard==2.1.1
tensorflow==2.2.0rc1
tensorflow-estimator==2.2.0rc0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
texttable==1.6.2
tornado==6.0.4
tqdm==4.43.0
traitlets==4.3.3
umap-learn==0.3.10
urllib3==1.25.8
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.5.1
wrapt==1.12.1
xmltodict==0.12.0
zipp==3.1.0
