bokeh==3.7.3
boto3==1.38.45
click==8.2.1
leidenalg==0.10.2
louvain==0.8.2
numba==0.58.1
numpy==1.26.4
pillow==11.2.1
scanpy==1.10.4
scikit-image==0.22.0
tensorflow==2.14.1
keras==2.14.0
types-tensorflow>=2.8.0
imageio==2.37.0
scipy==1.11.4