-r ../requirements.txt
ipyvolume
ipywebrtc
ipywidgets
jupyter_sphinx
nbclean
nbformat
nbsphinx
pygments
recommonmark
sphinx
sphinx-autodoc-typehints
sphinx_gallery==0.10.1
sphinx_rtd_theme
typing_extensions
